<h1>Edit book</h1>

<%= simple_form_for @book do |form| %>
	<%= form.select :category_id, collection: @categories %>
	<%= form.input :title, label: "Title" %>
	<%= form.input :description %>
	<%= form.input :author %>
	<%= form.button :submit %>
<% end  %>