<div class="row">

	<div class="col-md-4">

		<%= image_tag @book.book_img.url(:book_show), class: "book-show" %>

	</div>

	<div class="col-md-8">

		<div class="book-info">

			<h2 class="book-title"><%= @book.title %></h2>
			<h3 class="book-author"><span>From</span> <%= @book.author %></h3>
			<span class="number-of-reviews">Based on <%= @book.reviews.count %> reviews</span>
			<p class="book-desc"><%= @book.description %></p>

		</div>
	</div>


</div>


<%= link_to "Back", root_path %>


<% if user_signed_in? && current_user.id == @book.user_id %>
	<%= link_to "Edit", edit_book_path(@book) %>
	<%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Do you really want to delete this book?"} %>
<% end %>	